        h1 {
                color: red;
}
        body {
            background-color:#FDF5E6;
        }
#aboutBODY {
 
        background-image: url("mybackground.jpg");
        
}

.btn {

        margin-right:4px;
        
}
#boats {
        float:left;
        margin:10px;
}
#Steven {
        float:right;
        width:200px;
        height:250px;
}
#snowboarding {
        float:left;
}
#Hawaii {
        float:right;
        width:200px;
        height:200px;
}
